$font-size:smaller;
$font-color: rgb(196,207,222);
$bg: rgb(33,36,40);
$shadow: -8px -5px 20px rgba(255, 255, 255, 0.048),5px 10px 15px rgba(0, 0, 0, 0.288),inset -8px -5px 15px rgba(255, 255, 255, 0.002);
$red:rgb(255,1,79);

.nav_main{
    height: 90px;
    display: flex;
    justify-content: center;
    
  }

 .nav_bar_main{
      height: 90px;
      width: 100%;
      position: fixed;
      z-index: 888;
      padding-top: 2%;
      

  }
  .nav_active{
      background-color:rgba(35, 38, 43, 0.667) ;
      backdrop-filter: blur(15px);
      box-shadow:inset $shadow;
  }
  .nav_links_main{
      display: flex;
      gap: 40px;
      margin-top: 15px;
      
  }
  .nav_div_wrapper{
      margin-right: 2%;
      
  }
  .nav_links{
      list-style: none;
      font-size: $font-size;
      color: $font-color;
    
   }
   .download_CV{
      width: 110px;
      height:50px;
      box-shadow: $shadow;
      transform: translateY(-25%);
      display: flex;
      justify-content: center;
     
   }
   .download_CV:hover{
      box-shadow: inset  -8px -5px 20px rgba(255, 255, 255, 0.048),5px 10px 15px rgba(0, 0, 0, 0.288),inset -8px -5px 15px rgba(255, 255, 255, 0.002);
   }
   .download_para{
      padding-top: 10%;
      text-decoration: none;
      color: $red;
      
   }
  .nav_logo{
      font-size: xx-large;
      font-weight: 600;
      padding-left: 10px;
      color: $font-color;
  }
  .nav_img_div{
      width: 65px;
      height: 65px;
      border-radius: 50%;
      border: 3px solid rgba(237, 237, 237, 0.193);
      margin-bottom: 30px;
  }
  .nav_logo_main{
      display: flex;
      margin-left: 2%;
  }
  .nav_logo_img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
  }