$font-size:smaller;
$font-color: rgb(196,207,222);
$bg: rgb(33,36,40);
$shadow: -8px -5px 20px rgba(255, 255, 255, 0.048),5px 10px 15px rgba(0, 0, 0, 0.288),inset -8px -5px 15px rgba(255, 255, 255, 0.002);
$red:rgb(255,1,79);

.footer_section{
    display: flex;
    justify-content: center;
    padding-bottom: 8%;
}
.footer_container{
    width: 95%;
}
.footer_wrapper{
    width: 100%;
    height: 100%;
    margin-top: -45px;
}
.footer_logo_div{
    width: 70px;
    height: 70px;
    border: 1.5px solid $font-color;
    border-radius: 50%;
}
.footer_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.footer_para_text{
    color: rgba(255, 255, 255, 0.439);
    font-size: large;
    margin-top: 35px;
}
.footer_img_text{
    color: $font-color;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    margin-top: 8px;
}